In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder, StandardScaler
from imblearn.over_sampling import SMOTE
import pickle

In [2]:
df = pd.read_csv(r"E:\Jupyter Notebook\Datasets\Diabetes Dataset\diabetes_young_adults_india.csv")
df

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time
0,1,21,Male,North,2209393,No,None,6,31.4,Sedentary,...,Yes,No,95.6,9.5,163.3,Yes,None,7.7,7,6.8
1,2,18,Female,Central,387650,No,None,5,24.4,Active,...,No,No,164.9,5.0,169.1,Yes,None,7.9,8,6.0
2,3,25,Male,North,383333,No,None,6,20.0,Moderate,...,No,No,110.5,8.3,296.3,Yes,Type 1,7.6,8,4.6
3,4,22,Male,Northeast,2443733,No,None,4,39.8,Moderate,...,No,Yes,160.7,4.6,252.8,No,None,9.5,2,10.9
4,5,19,Male,Central,1449463,No,None,4,19.2,Moderate,...,No,Yes,73.7,5.3,252.3,No,None,6.4,2,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,19,Female,South,2006887,No,None,2,39.6,Sedentary,...,No,Yes,72.4,9.8,128.2,No,Type 2,4.1,8,9.5
99996,99997,18,Female,Central,1102572,No,Type 1,3,18.4,Active,...,No,No,168.0,8.9,253.0,No,None,6.4,5,4.1
99997,99998,23,Female,Central,1901854,No,Type 2,5,35.5,Sedentary,...,No,No,174.5,9.2,241.8,No,None,8.5,10,11.1
99998,99999,24,Male,West,564931,No,None,2,34.8,Moderate,...,No,No,80.5,9.8,208.8,No,None,5.3,7,2.1
99999,100000,18,Female,North,1972687,Yes,Type 1,4,26.7,Active,...,No,No,122.0,7.9,178.0,Yes,Type 1,7.3,5,11.3

In [3]:
df.shape[0]

100000

In [4]:
df.describe()

,ID,Age,Family_Income,Genetic_Risk_Score,BMI,Fast_Food_Intake,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Sleep_Hours,Stress_Level,Screen_Time
count,100000.000000,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000
mean,50000.500000,20.007890,1.299440e+06,5.505340,28.028089,4.988580,125.072216,7.006461,209.903952,6.988082,5.50681,6.503842
std,28867.657797,3.154934,6.919403e+05,2.872218,6.924196,3.169762,31.788613,1.735327,52.049374,1.734122,2.87943,3.170210
min,1.000000,15.000000,1.000040e+05,1.000000,16.000000,0.000000,70.000000,4.000000,120.000000,4.000000,1.00000,1.000000
25%,25000.750000,17.000000,7.022028e+05,3.000000,22.100000,2.000000,97.600000,5.500000,164.800000,5.500000,3.00000,3.800000
50%,50000.500000,20.000000,1.299990e+06,6.000000,28.000000,5.000000,125.200000,7.000000,209.800000,7.000000,6.00000,6.500000
75%,75000.250000,23.000000,1.898916e+06,8.000000,34.000000,8.000000,152.600000,8.500000,255.000000,8.500000,8.00000,9.300000
max,100000.000000,25.000000,2.499974e+06,10.000000,40.000000,10.000000,180.000000,10.000000,300.000000,10.000000,10.00000,12.000000

In [5]:
df.dtypes

ID                           int64
Age                          int64
Gender                      object
Region                      object
Family_Income                int64
Family_History_Diabetes     object
Parent_Diabetes_Type        object
Genetic_Risk_Score           int64
BMI                        float64
Physical_Activity_Level     object
Dietary_Habits              object
Fast_Food_Intake             int64
Smoking                     object
Alcohol_Consumption         object
Fasting_Blood_Sugar        float64
HbA1c                      float64
Cholesterol_Level          float64
Prediabetes                 object
Diabetes_Type               object
Sleep_Hours                float64
Stress_Level                 int64
Screen_Time                float64
dtype: object

In [6]:
df.columns

Index(['ID', 'Age', 'Gender', 'Region', 'Family_Income',
       'Family_History_Diabetes', 'Parent_Diabetes_Type', 'Genetic_Risk_Score',
       'BMI', 'Physical_Activity_Level', 'Dietary_Habits', 'Fast_Food_Intake',
       'Smoking', 'Alcohol_Consumption', 'Fasting_Blood_Sugar', 'HbA1c',
       'Cholesterol_Level', 'Prediabetes', 'Diabetes_Type', 'Sleep_Hours',
       'Stress_Level', 'Screen_Time'],
      dtype='object')

In [7]:
df.head(5)

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time
0,1,21,Male,North,2209393,No,None,6,31.4,Sedentary,...,Yes,No,95.6,9.5,163.3,Yes,None,7.7,7,6.8
1,2,18,Female,Central,387650,No,None,5,24.4,Active,...,No,No,164.9,5.0,169.1,Yes,None,7.9,8,6.0
2,3,25,Male,North,383333,No,None,6,20.0,Moderate,...,No,No,110.5,8.3,296.3,Yes,Type 1,7.6,8,4.6
3,4,22,Male,Northeast,2443733,No,None,4,39.8,Moderate,...,No,Yes,160.7,4.6,252.8,No,None,9.5,2,10.9
4,5,19,Male,Central,1449463,No,None,4,19.2,Moderate,...,No,Yes,73.7,5.3,252.3,No,None,6.4,2,1.3

In [8]:
df.isna().sum()

ID                         0
Age                        0
Gender                     0
Region                     0
Family_Income              0
Family_History_Diabetes    0
Parent_Diabetes_Type       0
Genetic_Risk_Score         0
BMI                        0
Physical_Activity_Level    0
Dietary_Habits             0
Fast_Food_Intake           0
Smoking                    0
Alcohol_Consumption        0
Fasting_Blood_Sugar        0
HbA1c                      0
Cholesterol_Level          0
Prediabetes                0
Diabetes_Type              0
Sleep_Hours                0
Stress_Level               0
Screen_Time                0
dtype: int64

In [9]:
df.Prediabetes.value_counts()

No     69979
Yes    30021
Name: Prediabetes, dtype: int64

In [10]:
30021/69979

0.4290001286100116

In [11]:
df.Diabetes_Type.value_counts()

None      74776
Type 2    20297
Type 1     4927
Name: Diabetes_Type, dtype: int64

In [12]:
for col in df.columns:
    print(f"---------------\nThe unique values in {col} is :\n\n{df[col].value_counts()}\n----------- \n\n\n")

---------------
The unique values in ID is :

1         1
66651     1
66673     1
66672     1
66671     1
         ..
33332     1
33331     1
33330     1
33329     1
100000    1
Name: ID, Length: 100000, dtype: int64
-----------



---------------
The unique values in Age is :

24    9259
21    9205
20    9194
18    9127
23    9123
19    9089
15    9031
22    9030
17    9006
16    9005
25    8931
Name: Age, dtype: int64
-----------



---------------
The unique values in Gender is :

Female    48073
Male      47964
Other      3963
Name: Gender, dtype: int64
-----------



---------------
The unique values in Region is :

North        16768
East         16751
Northeast    16677
South        16650
West         16607
Central      16547
Name: Region, dtype: int64
-----------



---------------
The unique values in Family_Income is :

652308     3
929543     3
1745785    3
1121039    3
2071659    3
          ..
300996     1
307472     1
1686855    1
497882     1
1972687    1
Name: Family_Income, Length: 98018, dtype: int64
-----------



---------------
The unique values in Family_History_Diabetes is :

No     64912
Yes    35088
Name: Family_History_Diabetes, dtype: int64
-----------



---------------
The unique values in Parent_Diabetes_Type is :

None      65097
Type 2    25009
Type 1     9894
Name: Parent_Diabetes_Type, dtype: int64
-----------



---------------
The unique values in Genetic_Risk_Score is :

9     10091
3     10078
6     10038
10    10022
4     10014
7      9992
1      9969
5      9946
8      9939
2      9911
Name: Genetic_Risk_Score, dtype: int64
-----------



---------------
The unique values in BMI is :

37.2    475
39.3    475
18.4    465
27.4    465
22.8    463
       ...
38.2    369
27.1    368
39.1    367
40.0    219
16.0    211
Name: BMI, Length: 241, dtype: int64
-----------



---------------
The unique values in Physical_Activity_Level is :

Sedentary    50087
Moderate     29896
Active       20017
Name: Physical_Activity_Level, dtype: int64
-----------



---------------
The unique values in Dietary_Habits is :

Moderate     39786
Unhealthy    30428
Healthy      29786
Name: Dietary_Habits, dtype: int64
-----------



---------------
The unique values in Fast_Food_Intake is :

1     9289
0     9211
8     9194
5     9110
2     9096
7     9070
10    9058
6     9057
9     9038
3     8987
4     8890
Name: Fast_Food_Intake, dtype: int64
-----------



---------------
The unique values in Smoking is :

No     69786
Yes    30214
Name: Smoking, dtype: int64
-----------



---------------
The unique values in Alcohol_Consumption is :

No     80214
Yes    19786
Name: Alcohol_Consumption, dtype: int64
-----------



---------------
The unique values in Fasting_Blood_Sugar is :

162.1    121
104.5    120
133.2    120
105.0    119
131.1    117
        ...
70.2      67
88.1      66
124.2     60
70.0      50
180.0     44
Name: Fasting_Blood_Sugar, Length: 1101, dtype: int64
-----------



---------------
The unique values in HbA1c is :

6.6     1741
8.1     1740
4.8     1725
9.6     1725
5.1     1722
        ...
9.5     1605
8.8     1600
6.7     1558
10.0     886
4.0      773
Name: HbA1c, Length: 61, dtype: int64
-----------



---------------
The unique values in Cholesterol_Level is :

206.7    84
159.3    79
298.5    77
289.5    77
187.5    76
         ..
217.2    35
172.6    34
255.4    34
120.0    31
300.0    23
Name: Cholesterol_Level, Length: 1801, dtype: int64
-----------



---------------
The unique values in Prediabetes is :

No     69979
Yes    30021
Name: Prediabetes, dtype: int64
-----------



---------------
The unique values in Diabetes_Type is :

None      74776
Type 2    20297
Type 1     4927
Name: Diabetes_Type, dtype: int64
-----------



---------------
The unique values in Sleep_Hours is :

6.5     1736
5.0     1735
7.6     1734
9.5     1734
4.5     1732
        ...
9.6     1577
6.0     1576
9.3     1545
10.0     868
4.0      814
Name: Sleep_Hours, Length: 61, dtype: int64
-----------



---------------
The unique values in Stress_Level is :

2     10149
8     10104
10    10074
9     10061
1     10047
5      9977
6      9970
7      9955
4      9836
3      9827
Name: Stress_Level, dtype: int64
-----------



---------------
The unique values in Screen_Time is :

5.5     1005
8.5      996
2.8      985
4.3      980
9.1      965
        ...
10.7     851
11.4     850
4.7      836
1.0      459
12.0     453
Name: Screen_Time, Length: 111, dtype: int64
-----------

In [13]:
columns = ['Gender','Region','Family_History_Diabetes','Parent_Diabetes_Type','Physical_Activity_Level','Dietary_Habits','Smoking',
          'Alcohol_Consumption','Prediabetes','Diabetes_Type',]

le = LabelEncoder()
db = pd.DataFrame()
db = df
for col in columns:
    db[col] = le.fit_transform(df[col])
    for original, encoded in zip(le.classes_, range(len(le.classes_))):
        print(f"  {original} -> {encoded}")
    
db.head()

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time
0,1,21,1,2,2209393,0,0,6,31.4,2,...,1,0,95.6,9.5,163.3,1,0,7.7,7,6.8
1,2,18,0,0,387650,0,0,5,24.4,0,...,0,0,164.9,5.0,169.1,1,0,7.9,8,6.0
2,3,25,1,2,383333,0,0,6,20.0,1,...,0,0,110.5,8.3,296.3,1,1,7.6,8,4.6
3,4,22,1,3,2443733,0,0,4,39.8,1,...,0,1,160.7,4.6,252.8,0,0,9.5,2,10.9
4,5,19,1,0,1449463,0,0,4,19.2,1,...,0,1,73.7,5.3,252.3,0,0,6.4,2,1.3

In [14]:
db.describe()

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time
count,100000.000000,100000.000000,100000.000000,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000
mean,50000.500000,20.007890,0.558900,2.499530,1.299440e+06,0.350880,0.599120,5.505340,28.028089,1.300700,...,0.302140,0.197860,125.072216,7.006461,209.903952,0.300210,0.455210,6.988082,5.50681,6.503842
std,28867.657797,3.154934,0.570784,1.705077,6.919403e+05,0.477248,0.860443,2.872218,6.924196,0.781425,...,0.459188,0.398388,31.788613,1.735327,52.049374,0.458351,0.808666,1.734122,2.87943,3.170210
min,1.000000,15.000000,0.000000,0.000000,1.000040e+05,0.000000,0.000000,1.000000,16.000000,0.000000,...,0.000000,0.000000,70.000000,4.000000,120.000000,0.000000,0.000000,4.000000,1.00000,1.000000
25%,25000.750000,17.000000,0.000000,1.000000,7.022028e+05,0.000000,0.000000,3.000000,22.100000,1.000000,...,0.000000,0.000000,97.600000,5.500000,164.800000,0.000000,0.000000,5.500000,3.00000,3.800000
50%,50000.500000,20.000000,1.000000,2.000000,1.299990e+06,0.000000,0.000000,6.000000,28.000000,2.000000,...,0.000000,0.000000,125.200000,7.000000,209.800000,0.000000,0.000000,7.000000,6.00000,6.500000
75%,75000.250000,23.000000,1.000000,4.000000,1.898916e+06,1.000000,2.000000,8.000000,34.000000,2.000000,...,1.000000,0.000000,152.600000,8.500000,255.000000,1.000000,1.000000,8.500000,8.00000,9.300000
max,100000.000000,25.000000,2.000000,5.000000,2.499974e+06,1.000000,2.000000,10.000000,40.000000,2.000000,...,1.000000,1.000000,180.000000,10.000000,300.000000,1.000000,2.000000,10.000000,10.00000,12.000000

In [15]:
for col in df.columns:
    print(f"---------------\nThe unique values in {col} is :\n\n{df[col].value_counts()}\n----------- \n\n\n")

---------------
The unique values in ID is :

1         1
66651     1
66673     1
66672     1
66671     1
         ..
33332     1
33331     1
33330     1
33329     1
100000    1
Name: ID, Length: 100000, dtype: int64
-----------



---------------
The unique values in Age is :

24    9259
21    9205
20    9194
18    9127
23    9123
19    9089
15    9031
22    9030
17    9006
16    9005
25    8931
Name: Age, dtype: int64
-----------



---------------
The unique values in Gender is :

0    48073
1    47964
2     3963
Name: Gender, dtype: int64
-----------



---------------
The unique values in Region is :

2    16768
1    16751
3    16677
4    16650
5    16607
0    16547
Name: Region, dtype: int64
-----------



---------------
The unique values in Family_Income is :

652308     3
929543     3
1745785    3
1121039    3
2071659    3
          ..
300996     1
307472     1
1686855    1
497882     1
1972687    1
Name: Family_Income, Length: 98018, dtype: int64
-----------



---------------
The unique values in Family_History_Diabetes is :

0    64912
1    35088
Name: Family_History_Diabetes, dtype: int64
-----------



---------------
The unique values in Parent_Diabetes_Type is :

0    65097
2    25009
1     9894
Name: Parent_Diabetes_Type, dtype: int64
-----------



---------------
The unique values in Genetic_Risk_Score is :

9     10091
3     10078
6     10038
10    10022
4     10014
7      9992
1      9969
5      9946
8      9939
2      9911
Name: Genetic_Risk_Score, dtype: int64
-----------



---------------
The unique values in BMI is :

37.2    475
39.3    475
18.4    465
27.4    465
22.8    463
       ...
38.2    369
27.1    368
39.1    367
40.0    219
16.0    211
Name: BMI, Length: 241, dtype: int64
-----------



---------------
The unique values in Physical_Activity_Level is :

2    50087
1    29896
0    20017
Name: Physical_Activity_Level, dtype: int64
-----------



---------------
The unique values in Dietary_Habits is :

1    39786
2    30428
0    29786
Name: Dietary_Habits, dtype: int64
-----------



---------------
The unique values in Fast_Food_Intake is :

1     9289
0     9211
8     9194
5     9110
2     9096
7     9070
10    9058
6     9057
9     9038
3     8987
4     8890
Name: Fast_Food_Intake, dtype: int64
-----------



---------------
The unique values in Smoking is :

0    69786
1    30214
Name: Smoking, dtype: int64
-----------



---------------
The unique values in Alcohol_Consumption is :

0    80214
1    19786
Name: Alcohol_Consumption, dtype: int64
-----------



---------------
The unique values in Fasting_Blood_Sugar is :

162.1    121
104.5    120
133.2    120
105.0    119
131.1    117
        ...
70.2      67
88.1      66
124.2     60
70.0      50
180.0     44
Name: Fasting_Blood_Sugar, Length: 1101, dtype: int64
-----------



---------------
The unique values in HbA1c is :

6.6     1741
8.1     1740
4.8     1725
9.6     1725
5.1     1722
        ...
9.5     1605
8.8     1600
6.7     1558
10.0     886
4.0      773
Name: HbA1c, Length: 61, dtype: int64
-----------



---------------
The unique values in Cholesterol_Level is :

206.7    84
159.3    79
298.5    77
289.5    77
187.5    76
         ..
217.2    35
172.6    34
255.4    34
120.0    31
300.0    23
Name: Cholesterol_Level, Length: 1801, dtype: int64
-----------



---------------
The unique values in Prediabetes is :

0    69979
1    30021
Name: Prediabetes, dtype: int64
-----------



---------------
The unique values in Diabetes_Type is :

0    74776
2    20297
1     4927
Name: Diabetes_Type, dtype: int64
-----------



---------------
The unique values in Sleep_Hours is :

6.5     1736
5.0     1735
7.6     1734
9.5     1734
4.5     1732
        ...
9.6     1577
6.0     1576
9.3     1545
10.0     868
4.0      814
Name: Sleep_Hours, Length: 61, dtype: int64
-----------



---------------
The unique values in Stress_Level is :

2     10149
8     10104
10    10074
9     10061
1     10047
5      9977
6      9970
7      9955
4      9836
3      9827
Name: Stress_Level, dtype: int64
-----------



---------------
The unique values in Screen_Time is :

5.5     1005
8.5      996
2.8      985
4.3      980
9.1      965
        ...
10.7     851
11.4     850
4.7      836
1.0      459
12.0     453
Name: Screen_Time, Length: 111, dtype: int64
-----------

In [16]:
x = db.drop(['ID', 'Family_Income','Prediabetes','Diabetes_Type','Screen_Time'], axis=1)
y = db['Prediabetes']

In [17]:
x

,Age,Gender,Region,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,Dietary_Habits,Fast_Food_Intake,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Sleep_Hours,Stress_Level
0,21,1,2,0,0,6,31.4,2,1,1,1,0,95.6,9.5,163.3,7.7,7
1,18,0,0,0,0,5,24.4,0,2,5,0,0,164.9,5.0,169.1,7.9,8
2,25,1,2,0,0,6,20.0,1,1,2,0,0,110.5,8.3,296.3,7.6,8
3,22,1,3,0,0,4,39.8,1,2,4,0,1,160.7,4.6,252.8,9.5,2
4,19,1,0,0,0,4,19.2,1,1,0,0,1,73.7,5.3,252.3,6.4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,19,0,4,0,0,2,39.6,2,1,7,0,1,72.4,9.8,128.2,4.1,8
99996,18,0,0,0,1,3,18.4,0,1,8,0,0,168.0,8.9,253.0,6.4,5
99997,23,0,0,0,2,5,35.5,2,2,9,0,0,174.5,9.2,241.8,8.5,10
99998,24,1,5,0,0,2,34.8,1,1,8,0,0,80.5,9.8,208.8,5.3,7
99999,18,0,2,1,1,4,26.7,0,2,1,0,0,122.0,7.9,178.0,7.3,5

In [18]:
y

0        1
1        1
2        1
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    1
Name: Prediabetes, Length: 100000, dtype: int32

In [19]:
smote = SMOTE(sampling_strategy='minority')
x_sm, y_sm = smote.fit_resample(x,y)

In [20]:
len(x_sm), len(y_sm)

(139958, 139958)

In [21]:
x_sm.Parent_Diabetes_Type.value_counts()

0    94139
2    27792
1    18027
Name: Parent_Diabetes_Type, dtype: int64

In [22]:
y_sm.value_counts()

1    69979
0    69979
Name: Prediabetes, dtype: int64

In [23]:
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x_sm)

In [24]:
y_sm.value_counts()

1    69979
0    69979
Name: Prediabetes, dtype: int64

In [25]:
len(x_scaled), len(y_sm)

(139958, 139958)

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y_sm, test_size=0.2, random_state=42, stratify=y_sm)

In [28]:
def model_training(algorithm):
    model = algorithm
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    print(f"{'-'*15}Classification Report of {algorithm}{'-'*15} /n/n")
    class_report = classification_report(y_test, y_pred)
    print(class_report)
    return y_pred

models = [LogisticRegression(), RandomForestClassifier(n_jobs=-1), SVC(), XGBClassifier(), DecisionTreeClassifier()]
for m in models:
    model_training_m = model_training(m)

---------------Classification Report of LogisticRegression()--------------- /n/n
              precision    recall  f1-score   support

           0       0.64      0.61      0.63     13996
           1       0.63      0.66      0.64     13996

    accuracy                           0.63     27992
   macro avg       0.64      0.63      0.63     27992
weighted avg       0.64      0.63      0.63     27992

---------------Classification Report of RandomForestClassifier(n_jobs=-1)--------------- /n/n
              precision    recall  f1-score   support

           0       0.67      0.80      0.73     13996
           1       0.75      0.61      0.67     13996

    accuracy                           0.70     27992
   macro avg       0.71      0.70      0.70     27992
weighted avg       0.71      0.70      0.70     27992

---------------Classification Report of SVC()--------------- /n/n
              precision    recall  f1-score   support

           0       0.64      0.75      0.69     13996
           1       0.70      0.58      0.63     13996

    accuracy                           0.67     27992
   macro avg       0.67      0.67      0.66     27992
weighted avg       0.67      0.67      0.66     27992

---------------Classification Report of XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)--------------- /n/n
              precision    recall  f1-score   support

           0       0.70      0.92      0.79     13996
           1       0.88      0.61      0.72     13996

    accuracy                           0.76     27992
   macro avg       0.79      0.76      0.76     27992
weighted avg       0.79      0.76      0.76     27992

---------------Classification Report of DecisionTreeClassifier()--------------- /n/n
              precision    recall  f1-score   support

           0       0.62      0.60      0.61     13996
           1       0.62      0.64      0.63     13996

    accuracy                           0.62     27992
   macro avg       0.62      0.62      0.62     27992
weighted avg       0.62      0.62      0.62     27992

In [29]:
y_test.iloc[321]

1

In [31]:
model = XGBClassifier(use_label_encoder=False, eval_metric='logloss')
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
classification = classification_report(y_test, y_pred)
print(classification)

D:\Python\Lib\site-packages\xgboost\sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")

              precision    recall  f1-score   support

           0       0.70      0.92      0.79     13996
           1       0.88      0.61      0.72     13996

    accuracy                           0.76     27992
   macro avg       0.79      0.76      0.76     27992
weighted avg       0.79      0.76      0.76     27992

In [32]:
x_test[454]

array([ 1.33190054,  0.92887789, -0.84437706, -0.63368462, -0.65413798,
        0.57000771,  0.53087975, -0.28026914,  0.11044765, -0.60342056,
       -0.56522092, -0.4254766 ,  0.94512811,  0.23781395,  0.23424137,
        0.54656835,  0.56874549])

In [33]:
pred = model.predict([x_test[432]])

In [34]:
print(pred)

[1]

In [35]:
y_test.iloc[432]

1

In [37]:
export_object = {
    'model' : model,
    'scaler': scaler
}

with open("Diabetes Predictor.pkl", "wb") as f:
    pickle.dump(export_object, f)